<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    
    <!-- <script> 
    
    let workoutsJs = '<%=// workouts %>' 

    </script> -->
    <script src="/javascripts/addone.js" defer> </script>
    <title>New Routine</title>
</head>
<body>
    <header class="header">
        <nav class="head-nav">      
            <ul class="links">
                <li><a href="/" class="navlink"><h3>HOME</h3></a></li>
            </ul> 
            <ul class="links">
                <li><a href="/workouts" class="navlink"><h3>WORKOUTS</h3></a></li>
            </ul> 
            <ul class="links">
                <li><a href="/routines" class="navlink"><h3>ROUTINES</h3></a></li>           
            </ul>
            <ul class="links">
                <li><a href="/stats" class="navlink"><h3>STATS</h3></a></li>
            </ul>
            <ul class="links">
                <li><a href="/about" class="navlink"><h3>ABOUT</h3></a></li>
            </ul >
           </nav>
    </header>   
