<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Fjalla+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Fjalla+One&family=Nunito:wght@200;300&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    
    <!-- <script> 
    
    let workoutsJs = '<%=// workouts %>' 

    </script> -->
    <script src="/javascripts/addone.js" defer> </script>
    <title>Shredded Stats</title>
</head>
<body>
    <header class="header">
        <nav class="head-nav">      
            <ul class="links">
                <li><a href="/" class="navlink"><button class="nav-btn">HOME</button></a></li>
            </ul> 
            <ul class="links">
                <li><a href="/workouts" class="navlink"><button class="nav-btn">WORKOUTS</button></a></li>
            </ul> 
            <ul class="links">
                <li><a href="/routines" class="navlink"><button class="nav-btn">ROUTINES</button></a></li>           
            </ul>
            <ul class="links">
                <li><a href="/stats" class="navlink"><button class="nav-btn">STATS</button></a></li>
            </ul>
            <ul class="links">
                <li><a href="/about" class="navlink"><button class="nav-btn">ABOUT</button></a></li>
            </ul >
           </nav>
    </header>   
