<%- include('../partials/header')  -%> 

<div id="create-title">
    <h1 class="page-title" id="create-title">CREATE A WORKOUT</h1>
</div>

<div class="root-div">
    <div class="div-text"> 


    
    <form action="/workouts" method="POST">
        <div class="body-div">
        <div class="input-div">
            <label class="input-label">Enter Workout Name:
                <input type="text" name="name" class="inputs">
            </label><br>
        </div>
        <div class="input-div">
        <label class="input-label"> Select Muscle Group:
            
            <div class="select-div">
            <select name="muscleGroup" class="select">
                <option value="Back">Back</option>
                <option value="Biceps">Biceps</option>
                <option value="Chest">Chest</option>
                <option value="Triceps">Triceps</option>
                <option value="Shoulders">Shoulders</option>
                <option value="Legs">Legs</option>
                <option value="Abs">Abs</option>
                <option value="Misc">Misc</option>
            </select>
        </div>

        </label><br>
    </div>
    <div class="input-div">
        <label class="input-label">Enter Amount of Sets:
            <input type="text" name="sets" class="inputs">
        </label><br>
        <div id="wk-submit-button">
        <input type="submit" value="Submit Workout" id="submit-button" class="create-button"> 
    </div>
        </div>
    </div>
    </form>
</div>
</div>
</body>
</html>