<%- include('../partials/header')  -%> 

    <form action="/workouts" method="POST">
        <label>Enter Workout Name:
            <input type="text" name="name">
        </label><br>
        <label> Select Muscle Group:
            <select name="muscleGroup">
                <option value="Back">Back</option>
                <option value="Biceps">Biceps</option>
                <option value="Chest">Chest</option>
                <option value="Triceps">Triceps</option>
                <option value="Shoulders">Shoulders</option>
                <option value="Legs">Legs</option>
                <option value="Abs">Abs</option>
                <option value="Misc">Misc</option>
            </select>
        </label><br>
        <label>Enter Amount of Sets:
            <input type="text" name="sets">
        </label><br>
        <input type="submit" value="Submit Workout">
    </form>
</body>
</html>