<%- include('./partials/header')  -%> 

<div class="root-rt-div">

  <h1 class="page-title"> SHREDDED STATS </h1>

  </head>
  <div class="div-text">
  <body>
    <h3 class="itext">Welcome to Shredded Stats the best way to track your workouts!</h3> <br>
    <h3 class="itext"> If you want to look like this. You will need ALL the help you can get!</h3> <br>
    <h3 class="itext"> Are you tired of sorting through your notes app to find your last workout stats?</h3> <br>
    <h3 class="itext"> So were we. That is why we created Shredded Stats. Never worry about it again</h3> <br>
    <h3 class="itext"> Track your workouts! Track your progress! Get Shredded!</h3> <br>

    <div class='create-div'>
      <a href="/workouts/new" > <button class="create-button"> Get Started</button> </a> <br> 
  </div>

    <img class="hanma" src="/images/hanma.jpg" />
  </body>
</div>
</html>

</div>
